body {
  background-color: #fed8b1;
}
.container {
  padding: 40px 0px 20px 0px;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

.cardUser {
  padding: 15px 30px;
  width: 25%;
  text-align: center;
}

.container .cardUser img {
  height: 150px;
  width: 150px;
  margin-bottom: 10px;
  border-radius: 15%;
  align-items: center;
}

.container .cardUser .text {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  margin: 0 0 24px;
  word-wrap: break-word;
  margin-top: 10px;
}
.container .cardBox {
  background: rgba(253, 253, 253, 0.808);
  border-radius: 15%;
  padding: 35px 5px;
  min-width: 200px;
  min-height: 300px;
  max-height: 350px;
  width: 100%;
}
